<div class="menu">
  <h2>Menu</h2>

  <h3>Drinks</h3>
  <button *ngIf="admin" type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#createDrinkModal">
    Create
  </button>
  <table>
    <tr>
      <th class="name-column">Name</th>
      <th class="price-column">Price</th>
    </tr>
    <tr *ngFor="let drink of drinks">
      <td>{{ drink.name }}</td>
      <td>{{ drink.price }} usd</td>
      <td>
        <button type="button" 
              class="btn" 
              [ngClass]="{
                  'btn-success': selectedDrinkName !== drink.name,
                  'btn-secondary': selectedDrinkName === drink.name
              }" 
              (click)="selectDrink(drink.name, drink.price)" 
              [disabled]="selectedDrinkName !== null && selectedDrinkName !== drink.name">
        {{ selectedDrinkName === drink.name ? 'Selected' : 'Select' }}
      </button>
      </td>
    </tr>
  </table>

  <h3>Lunch</h3>
  <button *ngIf="admin" type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#createLunchModal">
    Create
  </button>
  <table>
    <tr>
      <th class="name-column">Name</th>
      <th class="price-column">Price</th>
      <th class="cuisine-column">Cuisine</th>
    </tr>
    <tr *ngFor="let meal of meals">
      <td>{{ meal.name }}</td>
      <td>{{ meal.price }} usd</td>
      <td>{{ meal.cuisineName }}</td>
      <td>
        <button type="button" 
              class="btn" 
              [ngClass]="{
                  'btn-success': selectedMealName !== meal.name,
                  'btn-secondary': selectedMealName === meal.name
              }" 
              (click)="selectMeal(meal.name, meal.price)" 
              [disabled]="selectedMealName !== null && selectedMealName !== meal.name">
        {{ selectedMealName === meal.name ? 'Selected' : 'Select' }}
      </button>
      </td>
    </tr>
  </table>

  <h3>Desserts</h3>
  <button *ngIf="admin" type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#createDessertModal">
    Create
  </button>
  <table>
    <tr>
      <th class="name-column">Name</th>
      <th class="price-column">Price</th>
      <th class="cuisine-column">Cuisine</th>
    </tr>
    <tr *ngFor="let dessert of desserts">
      <td>{{ dessert.name }}</td>
      <td>{{ dessert.price }} usd</td>
      <td>{{ dessert.cuisineName }}</td>
      <td>
        <button type="button" 
              class="btn" 
              [ngClass]="{
                  'btn-success': selectedDessertName !== dessert.name,
                  'btn-secondary': selectedDessertName === dessert.name
              }" 
              (click)="selectDessert(dessert.name, dessert.price)" 
              [disabled]="selectedDessertName !== null && selectedDessertName !== dessert.name">
        {{ selectedDessertName === dessert.name ? 'Selected' : 'Select' }}
      </button>
      </td>
    </tr>
  </table>

  <div style="text-align: right;">
    <h3>Total price: {{orderCustom.totalPrice}} usd</h3>
    <button type="button" class="btn btn-primary" (click)="submitOrder()">Order now</button>
  </div>

</div>

<!-- Modals -->
<!-- Create Drink Modal -->
<div class="modal fade" id="createDrinkModal" tabindex="-1" role="dialog" aria-labelledby="createDrinkModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Create a new drink</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form (ngSubmit)="onCreateDrink(createDrinkForm)" #createDrinkForm="ngForm">
          <div class="mb-3">
            <label for="drink-name" class="form-label">Drink Name:</label>
            <input type="text" class="form-control" id="drink-name" name="name" ngModel required>
          </div>
          <div class="mb-3">
            <label for="drink-price" class="form-label">Price (USD):</label>
            <input type="number" class="form-control" id="drink-price" name="price" ngModel required>
          </div>
          <div class="modal-footer">
            <button type="submit" class="btn btn-primary" [disabled]="createDrinkForm.invalid">Save</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- Create Meal Modal -->
<div class="modal fade" id="createMealModal" tabindex="-1" role="dialog" aria-labelledby="createMealModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Create a new meal</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form (ngSubmit)="onCreateMeal(createMealForm)" #createMealForm="ngForm">
          <div class="mb-3">
            <label for="meal-name" class="form-label">Meal Name:</label>
            <input type="text" class="form-control" id="meal-name" name="name" ngModel required>
          </div>
          <div class="mb-3">
            <label for="meal-price" class="form-label">Price (USD):</label>
            <input type="number" class="form-control" id="meal-price" name="price" ngModel required>
          </div>
          <div class="mb-3">
            <label for="meal-cuisine" class="form-label">Cuisine:</label>
            <input type="text" class="form-control" id="meal-cuisine" name="cuisineName" ngModel required>
          </div>
          <div class="modal-footer">
            <button type="submit" class="btn btn-primary" [disabled]="createMealForm.invalid">Save</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- Create Dessert Modal -->
<div class="modal fade" id="createDessertModal" tabindex="-1" role="dialog" aria-labelledby="createDessertModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Create a new dessert</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form (ngSubmit)="onCreateDessert(createDessertForm)" #createDessertForm="ngForm">
          <div class="mb-3">
            <label for="dessert-name" class="form-label">Dessert Name:</label>
            <input type="text" class="form-control" id="dessert-name" name="name" ngModel required>
          </div>
          <div class="mb-3">
            <label for="dessert-price" class="form-label">Price (USD):</label>
            <input type="number" class="form-control" id="dessert-price" name="price" ngModel required>
          </div>
          <div class="mb-3">
            <label for="dessert-cuisine" class="form-label">Cuisine:</label>
            <input type="text" class="form-control" id="dessert-cuisine" name="cuisineName" ngModel required>
          </div>
          <div class="modal-footer">
            <button type="submit" class="btn btn-primary" [disabled]="createDessertForm.invalid">Save</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
