<div class="navbar navbar-expand-md navbar-dark bg-dark mb-4" role="navigation">
    <a class="navbar-brand" href="/floors">Office Rental System</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="/floors">Floors /<span class="sr-only">(current)</span></a>
            </li>
            <button class="btn btn-secondary" type="button" data-toggle="modal" data-target="#createFloorModal">Create</button>
        </ul>
        <!-- <div class="ml-auto d-flex align-items-center">
            <p class="text-white mb-0 mr-2">Welcome, {{user.email}}! ({{user.role}})</p>
            <button type="button" (click)="onLogout()" class="btn btn-outline-danger">Logout</button>
        </div> -->
    </div>
</div>

<!-- Create Floor Modal -->
<div class="modal fade" id="createFloorModal" tabindex="-1" role="dialog" aria-labelledby="createFloorModalTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Create a new floor:</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
      </div>
    </div>
  </div>