<div class="container mt-4">
    <h2 class="mb-4">Order History</h2>
      <div class="card mb-3" *ngFor="let order of orders">
        <div class="card-header d-flex justify-content-between align-items-center">
          <span>Order #{{ order.id }}</span>
          <p class="card-text">
            <small class="text-muted">Created At: {{ order.createdAt }}</small>
          </p>
        </div>
        <div class="card-body">
          <p class="card-text">
            <strong>Meal:</strong> {{ order.mealNames }} ({{ getMealTotalPrice(order) }}$)
          </p>
          <p class="card-text">
            <strong>Dessert:</strong> {{ order.dessertNames }} ({{ getDessertTotalPrice(order) }}$)
          </p>
          <p class="card-text">
            <strong>Drink:</strong> {{ order.drinkNames }} ({{ getDrinkTotalPrice(order) }}$)
            <span *ngIf="order.iceCubes" class="badge bg-primary ms-2">Ice</span>
            <span *ngIf="order.lemon" class="badge bg-warning text-dark ms-2">Lemon</span>
          </p>
          <hr>
          <p class="card-text">
            <strong>Total Price:</strong> ${{getTotalPrice(order)}}
          </p>
          <label for="subscription">Subscription:</label>
          <select id="subscription" #subscriptionSelect ngModel name="selectedSubscription" 
            (change)="onSubscriptionChange(order.id, subscriptionSelect.value)">
            <option *ngFor="let option of subscriptionOptions" [value]="option"> {{ option }} </option>
          </select>
        </div>
      </div>
    <ng-template #noOrders>
      <p class="text-center">History is empty.</p>
    </ng-template>
  </div>
  